In [2]:
import pandas as pd

Crear una serie con index

In [3]:
sr = pd.Series([10,9,8,7,6],index=('a','b','c','d','e'))
sr

a    10
b     9
c     8
d     7
e     6
dtype: int64

Llamar valor de serie por su index

In [4]:
sr[['c']]

c    8
dtype: int64

Converir diccionario a Serie de Pandas

In [5]:
diccionario_data = {'CO':100,'MX':200,'AR':300}
pd.Series(diccionario_data)

CO    100
MX    200
AR    300
dtype: int64

Asignar index a la serie, agregando valores nuevos (PE)

In [7]:
sr = pd.Series(diccionario_data, index=('CO','MX','PE'))
sr

CO    100.0
MX    200.0
PE      NaN
dtype: float64

Validar si la serie tiene valores null

In [8]:
sr.isnull()

CO    False
MX    False
PE     True
dtype: bool

Retornar valores no null

In [9]:
sr[sr.notnull()]

CO    100.0
MX    200.0
dtype: float64